@model IEnumerable<EAMS.View_Models.ESMOfficersDetailVM>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <h3 style="text-align:right">File No. 0515/DGR/Emp-3/Panel No./@DateTime.Now.Year</h3>

            <p>1.	 Reference notes ante.</p>

            <p>2.	An additional panel of one Officer is being put up for the post of POST NAME in ORGANISATION NAME for approval please. </p>

            <p>3.	The details of the willing Ex-Servicemen Officer(s) for the above mentioned post is given below:-</p>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ser No</th>
                            <th>Service No., Rank & name</th>
                            <th>DGR Regn no.</th>
                            <th>Reg for Scheme</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EsmId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceNo),&nbsp;@Html.DisplayFor(modelItem => item.Ranks.RankName),&nbsp;
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DgrRegistrationNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <p>5.    It is recommended that the name of (total No. of candidates) willing officer mentioned at Para 4 above may be forwarded to (ORGANISATION NAME) for further selection. </p>

            <p>6.	Put up for approval please.</p>

            <p style="text-align:right">(कल्पना मिश्रा) <br />उप निदेशक /रोज़गार-III <br />@DateTime.Now.ToShortDateString()</p>
            <br />
            <br />
            <br />
            <p>पी.डी</p>
            <br />
            <br />
            <br />
            <p style="font-style:unset">डी.जी.आर</p>
        </div>
    </div>
</div>


