@model IEnumerable<EAMS.View_Models.StateMasterVM>

@{
    ViewBag.Title = "List of States";
}


<div class="page-body">
    <div class="card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <a href="@Url.Action("Create", "StateMaster")" title="Click here to create a New State"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="card-block">
            <table class="table table-striped table-bordered w-100" id="myTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.StateName)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StateName)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "StateMaster", new { id = item.StateId })"><i class="fa fa-edit"></i></a>
                                @*<a href="@Url.Action("Delete", "StateMaster", new { id = item.StateId })"><i class="fa fa-trash"></i></a>*@
                                <button type="button" class="btn btn-transparent red btn-xs" onclick="Delete(@item.StateId, this)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">
        //$(document).ready(function () { $('#myTable').DataTable(); });
        LoadJDT('myTable');
        function Delete(id, event) {
            var TableId = "myTable";
            var Jsonurl = "/StateMaster/DeleteOnConfirm";
            DeleteJDTRow(id, event, TableId, Jsonurl)
        }
    </script>
}
